.container {
  z-index: +2;
  max-width: 1280px;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

.btn-main, .btn-light, .btn-dark {
  display: inline-block;
  padding: 0.8rem 2rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

.btn-main {
  color: #333;
  background: #56a3a6;
}

.btn-light {
  color: #333;
  background: #ccc;
}

.btn-dark {
  color: #f4f4f4;
  background: #1f1f1b;
}

button[class^="btn-"]:hover,
a[class^="btn-"]:hover,
input[class^="btn-"]:hover {
  background-color: #56a3a6;
}

.lead {
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-align {
  text-align: center;
}

.py-1 {
  padding: 1rem 0;
}

.py-2 {
  padding: 2rem 0;
}

.py-3 {
  padding: 3rem 0;
}

.py-4 {
  padding: 4rem 0;
}

.my-1 {
  margin: 1rem 0;
}

.my-2 {
  margin: 2rem 0;
}

.my-3 {
  margin: 3rem 0;
}

.my-4 {
  margin: 4rem 0;
}

.section-title {
  font-size: 2rem;
  display: block;
  padding-bottom: 0.5rem;
  text-align: center;
  font-weight: 100;
  text-transform: uppercase;
}

.bottom-line {
  height: 2px;
  width: 3rem;
  background: #56a3a6;
  display: block;
  margin: 0 auto 1rem auto;
}

.bg-main {
  background: #56a3a6;
  color: set-text-color(#56a3a6);
}

.bg-dark {
  background: #1f1f1b;
  color: set-text-color(#1f1f1b);
}

.bg-light {
  background: #ccc;
  color: set-text-color(#ccc);
}

.bg-medium {
  background: #00b4d8;
  color: set-text-color(#00b4d8);
}

.items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.item {
  position: relative;
  background: #ffbc00;
  overflow: hidden;
}

.item::after {
  content: "";
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.9;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
          transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  -webkit-transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.item:hover:after {
  -webkit-transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
          transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.item:hover .item-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.item:hover .item-text {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.item-image {
  height: auto;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: block;
  -webkit-transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
}

.item-image:before {
  content: "";
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.item-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.item-text {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  color: #fff;
  -webkit-transform: translateY(-20%);
          transform: translateY(-20%);
  -webkit-transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1), -webkit-transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

.item-text-wrap {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.item-text-title {
  font-size: 2rem;
  padding: 0 1rem;
  margin: 5px 0 0 0;
}

.item-text-category {
  text-transform: uppercase;
  font-size: 1.2rem;
  opacity: 0.7;
  margin: 0;
}

@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?9q7akh");
  src: url("fonts/icomoon.eot?9q7akh#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?9q7akh") format("truetype"), url("fonts/icomoon.woff?9q7akh") format("woff"), url("fonts/icomoon.svg?9q7akh#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-sleep:before {
  content: "\e902";
  font-size: 100px;
}

.icon-anime:before {
  content: "\e901";
  font-size: 100px;
}

.icon-origami:before {
  content: "\e900";
  font-size: 100px;
}

* {
  margin: 0;
  padding: 0em;
}

body {
  font-family: "dosis", sans-serif;
  line-height: 1.6;
  background: #fff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

h2,
h3,
h4 {
  text-transform: uppercase;
}

img {
  width: 100%;
}

#logo {
  width: 70px;
  height: 70px;
}

#main-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 1rem;
}

#main-nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#main-nav li {
  padding: 1rem 1.5rem;
}

#main-nav a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  border-bottom: 3px transparent solid;
  padding-bottom: 0.5rem;
  -webkit-transition: border-color 0.5s;
  transition: border-color 0.5s;
}

#main-nav a:hover {
  border-color: #ccc;
}

#main-nav a.current {
  border-color: #ffbc00;
}

#header {
  height: 100vh;
}

#header-home {
  height: 100vh;
  color: white;
}

#header-home .header-content {
  text-align: center;
  padding-top: 20%;
}

#header-home .header-content h1 {
  font-size: 4rem;
  line-height: 1.2;
}

#header-home .video-background {
  background: url("../img/showcase.jpg") no-repeat center right/cover;
  position: absolute;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#header-inner {
  background: url("../img/showcase.jpg") no-repeat 20% 30%/cover;
  height: 5.5rem;
  border-bottom: 3px solid #ffbc00;
}

#hobbies {
  color: white;
}

#hobbies .process {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.5rem;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#hobbies i {
  color: #f4f4f4;
}

#hobbies i:hover {
  color: #ffbc00;
}

#about-a .about-info {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "bioimage bio bio";
  grid-gap: 1.2rem;
}

#about-a .bio-image {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
}

#about-a .bio {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
  border-left: 3px solid #ffbc00;
  padding: 0.8rem;
}

#about-c .about-logos {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
      grid-template-columns: repeat(5, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 9%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-c img {
  width: 50%;
}

#main-footer {
  background: #333;
  color: #fff;
  height: 5rem;
}

#main-footer a {
  color: #fff;
}

#main-footer .footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#main-footer .footer-content .social .fab {
  margin-right: 1rem;
  border: 2px #fff solid;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.5rem;
}

#main-footer .footer-content .social .fab:hover {
  background: #ffbc00;
  color: #333;
}

.hidden-overflow {
  overflow: hidden;
}

#contact,
#contact a {
  margin: 0;
  color: #f4f4f4;
  height: calc(100vh - 172px);
}

#contact h2,
#contact a h2 {
  padding-top: 2rem;
}

#contact .contact-two,
#contact a .contact-two {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contact .contact-two h2,
#contact a .contact-two h2 {
  padding-top: 1rem;
}

#contact a,
#contact a a {
  -webkit-transition: all 1s;
  transition: all 1s;
}

#contact a:hover,
#contact a a:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  color: #ffbc00;
}

#contact .banner,
#contact a .banner {
  width: 100%;
  background: #ffbc00;
  color: #333;
}

#contact .sp-btn,
#contact a .sp-btn {
  padding: 0.5rem 1rem;
  background-color: #333;
  color: #ccc;
  border-radius: 5px;
  -webkit-transition: all 1s;
  transition: all 1s;
}

#contact .sp-btn:hover,
#contact a .sp-btn:hover {
  background: #ccc;
  -webkit-box-shadow: 5px 5px 7px grey;
          box-shadow: 5px 5px 7px grey;
}

#contact h3,
#contact a h3 {
  padding-bottom: 0.5rem;
}

@media (max-width: 500px) {
  #main-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #main-nav li {
    padding: 1rem;
  }
  .header-content h1 {
    padding-bottom: 3rem;
  }
  #header-inner {
    height: 10rem;
    border-bottom: 3px solid #ffbc00;
    background-position: 20% 30%;
  }
  .hidden-overflow {
    overflow: auto;
  }
  #hobbies .process {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #hobbies .process div {
    border-bottom: 1px #f4f4f4 solid;
    padding-bottom: 1rem;
  }
  #hobbies .process div:last-child {
    border: none;
    padding-bottom: 0;
  }
  #about-a .about-info {
        grid-template-areas: "bioimage" "bio";
  }
  #about-a .bio {
    border-left: none;
    border-top: 3px solid #ffbc00;
  }
  #main-footer {
    height: 7rem;
  }
  #main-footer .footer-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    padding: 1rem;
    height: 5rem;
  }
  .items {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #contact {
    height: 100%;
  }
}
/*# sourceMappingURL=main.css.map */